<title>My application</title>
  <h1>Hello, World!</h1>
   <h2> Result is {{result}} </h2>
     <p></p> <!-- Blank line using empty <p> -->
    This project recieves 2 integer arrays, then if the boolean "Valid" is true and integer threshold is lower than the sum of the elements of the first array, returns true in the case that sum of elements of array1 is greater than that of array2. It returns false otherwise.
     <p></p> <!-- Blank line using empty <p> -->
     <p></p> <!-- Blank line using empty <p> -->
     <p></p> <!-- Blank line using empty <p> -->
    <h2>Entering valid input:</h2>
    For Array1 and Array2 please enter input by having 1 integer in each line and then pressing enter go move to the next line.
    as in: <p>1</p>
    <p>2</p> <!-- Blank line using empty <p> -->
    <p>3</p> <!-- Blank line using empty <p> -->

  <form action="compute" method="post">
        <label><b>Input As Array1:</b></label>
        <textarea name="inputParam1Arr" rows="10" cols="30"></textarea>
         <p></p> <!-- Blank line using empty <p> -->

        <label><b>Input As Array2:</b></label>
        <textarea name="inputList2" rows="10" cols="30"></textarea>
         <p></p> <!-- Blank line using empty <p> -->

        <label><b>Input Threshold:</b></label>
        <textarea name="input2AsInt" rows="10" cols="30"></textarea>
         <p></p> <!-- Blank line using empty <p> -->

        <label><b>Input Boolean Valid:</b></label>
        <textarea name="valid" rows="10" cols="30"></textarea>
         <p></p> <!-- Blank line using empty <p> -->

        <input type="submit">
  </form>
