<title>My application</title>
  <h1>Hello, World!</h1>
    Result is {{result}}
    This project recieves 2 integer arrays, then if the boolean "Valid" is true and integer threshold is lower than the sum of the elements of the first array, returns true in the case that sum of elements of array1 is greater than that of array2. It returns false otherwise.


    
  <form action="compute" method="post">
        <label><b>Input As Array1:</b></label>
        <textarea name="inputParam1Arr" rows="10" cols="30"></textarea>

        <label><b>Input As Array2:</b></label>
        <textarea name="inputList2" rows="10" cols="30"></textarea>

        <label><b>Input Threshold:</b></label>
        <textarea name="input2AsInt" rows="10" cols="30"></textarea>

        <label><b>Input Boolean Valid:</b></label>
        <textarea name="valid" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
