<title>My application</title>
  <h1>Hello, World!</h1>
    #Heading Result is {{result}}


  <form action="compute" method="post">
        <textarea name="inputParam1Arr" rows="10" cols="30"></textarea>
        <textarea name="inputList2" rows="10" cols="30"></textarea>
        <textarea name="input2AsInt" rows="10" cols="30"></textarea>
        <textarea name="valid" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
